body{
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px
}
.container{
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}

    img{
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
button{
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}